@use 'abstracts' as *;
@use 'global' as *;

.home{
    .home_landing{
        position: relative;
        color: white;
        min-height: 100vh;
        display: grid;
        div[class^="wp-block-group"]{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .wp-block-video{
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
            video{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        @include fluid(padding-block-start, 240px, 352px);
        padding-block-end: rem(27px);
        h1, h2{
            @include fluid(margin-block-start, 120px, 231px);
            margin-block-end: 0px;
        }
    }
    .featureGrid_home{
        background-color: #F8F8F8;
        padding-block: rem(45px) rem(60px);
        .wp-block-heading{
            @include fluid(margin-block-end, 100px, 200px);
        }
    }
    .featureGridWrapper{
        
        & > .wp-block-group__inner-container{
            flex-wrap: nowrap;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            display: flex;
            @include fluid(gap, 16px, 24px);
            @include fluid(border-radius, 4px, 8px);
            &>div{
                .wp-block-group__inner-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background-color: rgba($color-accent, 0.15);
                    @include fluid(padding-block, 18px, 23px);
                    padding-inline: rem(20px);
                    border-radius: rem(10px);
                    width: max(70vw, 300px);
                    aspect-ratio: 4 / 2;
                    scroll-snap-align: start;
                    figure{
                        margin-block-end: auto;
                        @include fluid(padding-block-end, 36px, 55px);
                        @include fluid(width, 48px, 55px);
                    }
                }
            }            
        }
        @include bp('md') {
            & > .wp-block-group__inner-container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                &>div{
                    .wp-block-group__inner-container{
                        width: auto;
                        height: 100%;
                    }
                }
            }            
        }
    }
    .learn_solutions{
        @include fluid(padding-block-start, 190px, 251px);
        @include fluid(padding-block-end, 26px, 38.5px);
        .wp-block-heading{
            display: grid;
            justify-content: center;
            text-align: center;
            span{
                &:last-of-type{
                    color: $color-accent;
                }
            }
        }
        .learn_solutions_content{
            text-align: center;
            @include fluid(padding-block-start, 120px, 222px);
            &>div[class^="wp-block-group"]{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                @include fluid(column-gap, 40px, 60px);
                row-gap: 30px;
            }
        }
        @include bp('sm') {
            text-align: left;
            span{
                width: max-content;
                &:first-of-type{
                    margin-inline-start: calc(clamp(70px, 7.8125vw, 150px) * -1);
                }
                &:last-of-type{
                    margin-inline-end: calc(clamp(70px, 7.8125vw, 150px) * -1);
                }
            }
            .learn_solutions_content{
                text-align: left;
                &>div[class^="wp-block-group"]{
                    justify-content: space-between;
                    p{
                        &:first-of-type{
                            max-width: min(50vw, rem(400px));
                        }
                        &:last-of-type{
                            flex: 1;
                            text-align: right;
                        }
                    }
                }
            }
        }
        @include bp('xl') {
            .learn_solutions_content{
                &>div[class^="wp-block-group"]{
                    padding-inline: min(4.0625vw, 78px);
                }
            }   
        }
    }
    .demanding_applications{
        background-image: url('../../assets/images/bg_boxed.jpg');
        background-size: cover;
        background-position: center top;
        position: relative;
        color: white;
        padding-block: rem(30px);
        &:after{
            content:'';
            position: absolute;
            width: 100%;
            left: 0%;
            background: linear-gradient(0deg, rgba(113, 43, 26, 0) 0%, #5A2216 100%);
            transform: rotate(180deg);
            height: 52.37%;
            z-index: 0;
            bottom: 0px;
        }
        .wp-block-heading{
            span{
                color: #9F4631;
            }
        }
        .wp-block-columns{
            display: grid;
            position: relative;
            z-index: 1;
        }
        .unstyledList{
            @include fluid(margin-block-start, 120px, 202px);
            @include fluid-type(18px, 24px, 360px, 1440px);
             @extend .flex;
             gap: 20px;
             flex-direction: column;
            li{
                @extend .flex;
                @extend .align-center;
                @include fluid(gap, 20px, 28px);
                &:before{
                    content: '';
                    background-image: url('../../assets/images/icons_sprites.svg');
                    @include fluid(width, 40px, 48px);
                    @include fluid(height, 40px, 48px);
                    background-size: 100%;
                    background-position: 0 0;
                }
                &:nth-child(2){
                   &:before{
                     background-position: 0px calc(100% * -1);
                   }
                }
                &:nth-child(3){
                   &:before{
                     background-position: 0px calc(100% * -2);
                   }
                }
            }
        }
        .media_col{
            width: 100%;
            figure{
                margin-block-start: 12px;
                img{
                    margin: auto;
                    border-radius: 16px;
                }
            }
        }
       
        @include bp('md'){
            padding-block: 0px;
             &.wp-block-group {
                &>.wp-block-group__inner-container{
                    padding-inline-end: 11px;
                }
            }
            .wp-block-columns{
                @include fluid(column-gap, 50px, 88px);
                grid-template-columns: 2fr 3fr;
                .wp-block-column{
                    &:first-child{
                       padding-block-start: 30px;
                       @include fluid(padding-block-end, 75px, 93px);
                    }
                }
            }
            .unstyledList{
                @include fluid(margin-inline-start, 15px, 158px);
            }
        }
    }
}