@use 'abstracts' as *;
@use 'global' as *;
@use 'components/container' as *;

.home{
    .home_landing{
        position: relative;
        color: white;
        min-height: 100vh;
        display: grid;
        div[class^="wp-block-group"]{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .wp-block-video{
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
            video{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        @include fluid(padding-block-start, 240px, 352px);
        padding-block-end: rem(27px);
        h1, h2{
            @include fluid(margin-block-start, 120px, 231px);
            margin-block-end: 0px;
        }
    }
    .featureGrid_home{
        background-color: #F8F8F8;
        padding-block: rem(45px) rem(60px);
        .wp-block-heading{
            @include fluid(margin-block-end, 100px, 200px);
        }
    }
    .featureGridWrapper{
        
        & > .wp-block-group__inner-container{
            flex-wrap: nowrap;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            display: flex;
            @include fluid(gap, 16px, 24px);
            @include fluid(border-radius, 4px, 8px);
            &>div{
                .wp-block-group__inner-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background-color: rgba($color-accent, 0.15);
                    @include fluid(padding-block, 18px, 23px);
                    padding-inline: rem(20px);
                    border-radius: rem(10px);
                    width: max(70vw, 300px);
                    aspect-ratio: 4 / 2;
                    scroll-snap-align: start;
                    figure{
                        margin-block-end: auto;
                        @include fluid(padding-block-end, 36px, 55px);
                        @include fluid(width, 48px, 55px);
                    }
                    p{
                        margin: 0px;
                    }
                }
            }            
        }
        @include bp('md') {
            & > .wp-block-group__inner-container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                &>div{
                    .wp-block-group__inner-container{
                        width: auto;
                    }
                }
            }            
        }
    }
    .learn_solutions{
        @include fluid(padding-block-start, 190px, 251px);
        @include fluid(padding-block-end, 26px, 38.5px);
        position: relative;
        overflow: hidden;
        .learn-solutions-pattern{
            position: absolute;
            inset: -20%;
            opacity: 0.5;
            will-change: transform;
            pointer-events: none;
            background-image: url('../../assets/images/brand_bg.svg');
            background-size: clamp(300px, 21.875vw, 420px) auto;
            background-repeat: repeat;
            background-size: 420px auto;
            background-position: 0 0;
            will-change: background-position;
            z-index: -1;
        }
        .wp-block-heading{
            display: grid;
            justify-content: center;
            text-align: center;
            span{
                &:last-of-type{
                    color: $color-accent;
                }
            }
        }
        .learn_solutions_content{
            text-align: center;
            @include fluid(padding-block-start, 120px, 222px);
            &>div[class^="wp-block-group"]{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                @include fluid(column-gap, 40px, 60px);
                row-gap: 30px;
            }
        }
        @include bp('sm') {
            text-align: left;
            span{
                width: max-content;
                &:first-of-type{
                    margin-inline-start: calc(clamp(70px, 7.8125vw, 150px) * -1);
                }
                &:last-of-type{
                    margin-inline-end: calc(clamp(70px, 7.8125vw, 150px) * -1);
                }
            }
            .learn_solutions_content{
                text-align: left;
                &>div[class^="wp-block-group"]{
                    justify-content: space-between;
                    p{
                        &:first-of-type{
                            max-width: min(50vw, rem(400px));
                            flex: 1;
                        }
                        &:last-of-type{
                            text-align: right;
                        }
                    }
                }
            }
        }
        @include bp('xl') {
            .learn_solutions_content{
                &>div[class^="wp-block-group"]{
                    padding-inline: min(4.0625vw, 78px);
                }
            }   
        }
    }
    .demanding_applications{
        background-image: url('../../assets/images/bg_boxed.jpg');
        background-size: cover;
        background-position: center top;
        position: relative;
        color: white;
        padding-block: rem(30px);
        &:after{
            content:'';
            position: absolute;
            width: 100%;
            left: 0%;
            background: linear-gradient(0deg, rgba(113, 43, 26, 0) 0%, #5A2216 100%);
            transform: rotate(180deg);
            height: 52.37%;
            z-index: 0;
            bottom: 0px;
        }
        .wp-block-heading{
            span{
                color: $color-highlight;
            }
        }
        .wp-block-columns{
            display: grid;
            position: relative;
            z-index: 1;
            row-gap: 40px;
            align-items: start;
        }
        .unstyledList{
            @include fluid(margin-block-start, 120px, 202px, 768px, 1368px);
            @include fluid-type(18px, 24px, 768px, 1368px);
             @extend .flex;
             gap: 20px;
             flex-direction: column;
            li{
                display: grid;
                align-items: center;
                @include fluid(gap, 12px, 28px, 768px, 1200px);
                grid-template-columns: 48px 1fr;
                &:before{
                    content: '';
                    background-image: url('../../assets/images/icons_sprites.svg');
                    @include fluid(width, 40px, 48px);
                    @include fluid(height, 40px, 48px);
                    background-size: 100%;
                    background-position: 0 0;
                }
                &:nth-child(2){
                   &:before{
                     background-position: 0px calc(100% * -1);
                   }
                }
                &:nth-child(3){
                   &:before{
                     background-position: 0px calc(100% * -2);
                   }
                }
            }
        }
        .media_col{
            width: 100%;
            figure{
                margin-block-start: 12px;
                img{
                    margin: auto;
                    border-radius: 16px;
                    height: auto;
                }
            }
        }
       
        @include bp('md'){
            padding-block: 0px;
             &.wp-block-group {
                &>.wp-block-group__inner-container{
                    padding-inline-end: 11px;
                }
            }
            .wp-block-columns{
                @include fluid(column-gap, 30px, 88px, 768px, 1440px);
                grid-template-columns: 2.5fr 3fr;
                .wp-block-column{
                    &:first-child{
                       padding-block-start: 30px;
                       @include fluid(padding-block-end, 75px, 93px);
                    }
                }
            }            
        }
        @include bp('lg'){
            .wp-block-columns{
                grid-template-columns: 2fr 3fr;
            }
            .wp-block-heading{
                max-width: max(450px, 65%);
            }
            .unstyledList{
                @include fluid(margin-inline-start, 0px, 158px, 768px, 1440px);
            }
        }
    }
    .trusted_leader{
        @include fluid(padding-block-start, 50px, 63px);
        // height: 100lvh;
        padding-block-end: rem(56px);
        &>div{
            @extend .container;
        }
        .wp-block-columns{
            display: grid;
            gap: 2rem;
            margin-block-start: rem(28.5px);
        }        
        .title_col{
            display: flex;
            align-items: center;
        }
        .accordion_col{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4, h5{
                @include fluid(margin-block-end, 22px, 36px);
            }
        }
        .accordion_panel{
            background-color: $color-light-gray;
            @include fluid(border-radius, 20px, 24px);
            @include fluid(padding-inline, 24px, 32px, 768px, 1440px);
            @include fluid(padding-block, 24px, 30px, 768px, 1440px);
            position: relative;
            overflow: hidden;
            
            &:after{
                content: '';
                position: absolute;
                bottom: 0px;
                right: 0px;
                height: 70%;
                width: clamp(220px, 13.020833333333334vw, 250px);
                aspect-ratio: 1 / 1;
                background-image: url('../../assets/images/bg_gradient.png');
                pointer-events: none;
                z-index: 0;
            }
            &>div{
                display: grid;
            }
            .wp-block-group{
                overflow: hidden;
                &>div{
                    padding-block-start: rem(68px);
                    display: grid;
                    gap: 1rem;
                }
                p{
                    margin: 0px;
                    &:last-of-type{
                        font-size: rem(13px);
                        text-transform: uppercase;
                        margin: 0px;
                        color: $color-bg;
                    }
                }
            }
            img{
                max-height: 63px;
            }
        }
        @include bp('md'){
            .title_col{
                @include fluid(max-width, 236px, 374px);
            }
            .wp-block-columns{
                grid-template-columns: 1fr clamp(320px, 37vw, 560px);
                gap: 2rem;
            }
            .accordion_panel{
                .wp-block-group{
                    max-width: rem(400px);
                }
            }
        }
    }
    .home_testimonial{
        @include fluid(padding-block-start, 30px, 36px);
        .wp-block-heading{
            @include fluid(margin-block-end, 30px, 36px);
            max-width: 90%;
        }

        @include bp('md'){
            .wp-block-heading{
                max-width: rem(825px);
                width: 80%;
            }
        }
        .testimonial_wrap{
            .wp-block-group__inner-container{
                display: grid;
                grid-template-columns: auto;
                gap: max(15px, 1.525vw);
                align-items: end;
                img{
                    aspect-ratio: 503/355;
                    height: auto;
                    @include fluid(border-radius, 8px, 16px, 768px, 1440px);
                    object-fit: cover;
                }
                h3,h4,h5{
                    margin: 0px;
                    span{
                        text-transform: uppercase;
                        @include fluid-type(12px, 14px);
                        color: $color-bg;
                        display: block;
                        margin-block-start: 10px;
                    }
                }
            }
            @include bp('sm'){
                .wp-block-group__inner-container{
                    grid-template-columns: 33% 1fr;
                }
            }
        }
    }
}