@use 'abstracts' as *;
@use 'global' as *;
@use 'components/container' as *;

.manifesto_landing{
    position: relative;
    
    overflow: hidden;
    
    
    background: url('../../assets/images/bg_boxed_lg.webp')  no-repeat left top / cover;
    color: white;
    &>.wp-block-group__inner-container{
        display: grid;
        @include fluid(gap, 40px, 50px);
        .wp-block-group__inner-container{
            display: grid;
        }
    }
    h1, h2, p{
        margin: 0px;
    }
    .scale-down{
        display: grid;
        min-height: 100lvh;
        padding-block-start: rem(150px);
        @include fluid(padding-block-end, 42px, 60px);
    }
    h1{
        @include fluid-type(80px, 163px);
        font-weight: 100;
        color: $color-accent;
        span{
            display: block;
            text-transform: uppercase;
            @include fluid-type(16px, 24px);
            letter-spacing: 2px;
        }
    }
    h2{
        span{
            color: $color-highlight;
        }
    }
    .content-block{
        max-width: rem(362px);
        align-self: end;
    }
    @include bp('md'){
        .scale-down{
            align-items: end;
        }
        .content-block{
            margin-left: auto;
        }
    }
}
.manifesto_solutions{
    text-align: center;
    color: white;
    background: #1B0500;
    @include fluid(padding-block-start, 65px, 90px);
    @include fluid(padding-block-end, 100px, 171px);
    h2{
        margin-block-end: rem(32px);
        span{
            color: $color-accent;
        }
    }
    .site_btn_link{
        display: inline-flex;
        @include fluid(margin-block-start, 80px, 118px);
    }
    @include bp('md') {
        p{
            max-width: rem(832px);
            margin-inline: auto;
        }
    }
}
.manifesto_perform{
    @include fluid(padding-block-start, 90px, 127px);
    @include fluid(padding-block-end, 50px, 70px);
    color: white;
    position: relative;
    &>.wp-block-group__inner-container{
        display: grid;
        @include fluid(gap, 200px, 371px);
    }
    h2{
        text-align: center;
    }
    h2, p{
        margin: 0px;
    }
    p{
        margin-block-start: auto;
    }
    .wp-block-image {
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: right;
        }
    }
    @include bp('md') {
        p{
            max-width: rem(562px);
        }
    }
}
.manifesto_gallery{
    text-align: center;
    @include fluid(padding-block-start, 66px, 86px);
    @include fluid(padding-block-end, 87px, 147px);
    h2{
        span{
            color: $color-accent;
        }
        @include fluid(margin-block-end, 65px, 110px);
    }

    .wp-block-gallery {
        display: flex !important;
        flex-wrap: wrap;
        column-gap:  clamp(12px, 1.6vw, 20px) !important;
        grid-template-columns: 40fr 60fr;
        grid-template-rows: auto;
        .wp-block-image {
            margin: 0 !important;
            overflow: hidden;
            border-radius: $border-radius;
            grid-column: unset;
            grid-row: unset;
            max-height: 205px;
            order: 1;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }       
            &:nth-child(odd){
                flex: 0 0 calc(40% - clamp(12px, 1.6vw, 20px));
            }     
            &:nth-child(even){
                flex: 0 0 calc(60% - clamp(12px, 1.6vw, 20px));
            }     
            &:nth-child(1){
                order: 1;
            }
            &:nth-child(2){
                order: 2;
            }
            &:nth-child(3){
                order: 4;
            }
            &:nth-child(4){
                order: 3;
            }
            &:last-child{
                flex: 0 0 100%;
                order: 5;
            }
        }
    }
    
   
    @include bp('md'){
        .wp-block-gallery {
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr 2.13fr 2.13fr;
            .wp-block-image {
                max-height: 12.5vw;
                grid-row: 1;

                &:nth-child(2){
                    grid-column: 2;
                }
                &:nth-child(3){
                    grid-column: 3;
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(5) {
                    grid-row: 2;
                }
                &:nth-child(4){
                    grid-column: 4;
                }
                &:nth-child(5){
                    grid-column: 5;
                }
            }
        }
    }
}

.manifesto_mission{
    @include fluid(padding-block-start, 45px, 67px);
    @include fluid(padding-block-end, 67px, 115px);
    &>.wp-block-group__inner-container{
        display: grid;
        @include fluid(gap, 50px, 81px);
    }
    .bordered_separator{
        border-image: repeating-linear-gradient(to right, $color-accent 0 5px, transparent 5px 10px) 1;
        @include fluid(margin-block-end, 30px, 44.5px);
    }
    .shri_text_sm{
        @include fluid(margin-block-end, 15px, 18px);
    }
    h2{
        margin: 0px;        
    }
    @include bp('md'){
        .wp-block-group{
            &:first-child{
                h2{
                    margin-inline-start: 3.5ch;
                    max-width: rem(782px);
                }
            }
            &:last-child{
                h2, p{
                    margin-inline-start: 32vw;
                }
            }
        }
    }
}